/*body*/
body {
    font-family: ;
    color: ;
    background-color: ;

}

a {
    text-decoration: none;
}

.link {
    text-decoration: none;
}


.list {
    list-style: none;
}



button {
    cursor: pointer;
}

ul {
    margin: 0;
    padding: 0;
}

li {}


address {
    font-style: normal;
}


img {
    display: block;
    max-width: 100%;
    height: auto;
}


nav {
    margin-right: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}